POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=
POSTGRES_APP_USER=campaign
POSTGRES_APP_PASSWORD=campaign
POSTGRES_APP_DB=campaign
SCYLLA_HOST=localhost
SCYLLA_PORT=9042
SCYLLA_KEYSPACE=campaign
KAFKA_HOST=localhost
KAFKA_PORT=9092
REDIS_HOST=localhost
REDIS_PORT=6379
CONFIG_FILE=./configs/config.yaml
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
