CONFIG_FILE=./configs/config.production.yaml
POSTGRES_HOST=postgres-prod.internal
POSTGRES_PORT=5432
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=change-me
POSTGRES_APP_USER=campaign
POSTGRES_APP_PASSWORD=change-me
POSTGRES_APP_DB=campaign
SCYLLA_HOST=scylla-1.internal
SCYLLA_PORT=9042
SCYLLA_KEYSPACE=campaign
KAFKA_HOST=kafka-1.internal
KAFKA_PORT=9092
REDIS_HOST=redis.internal
REDIS_PORT=6379
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector.internal:4318
